node_modules/
opt/openresty/
opt/php/
opt/pear/
*-e
tmp/
vendor/
Dockerfile
.git/
.idea/
.gitignore
.vscode/
.DS_Store
supervisord.log
supervisord.pid
*error.log
*.crt
*.key

bin/*
!bin/install.sh
!bin/install-pear.sh
!bin/install-pear.sh
!bin/generate-diffie-hellman.pl
!bin/bust-opcache.sh

etc/ssl/CA/.gitkeep
etc/ssl/certs/.gitkeep
etc/ssl/private/.gitkeep

tmp/*
var/*
!var/keys/wordpress-keys-and-salts.docker.php

web/wp-content
web/env.php
web/wp-config.php