# Created by .ignore support plugin (hsz.mobi)
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#vscode junk
.history/*
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

# ds stores
*.DS_Store

# intellij
*.idea/

# certificates and private keys
*.crt
*.key

# build artifacts
get-pip.py

# bin
*-e
/bin/*
!bin/bust-opcache.sh
!bin/wp.sh.dist
!bin/generate-diffie-hellman.pl
!bin/install-pear.sh
!bin/install-amazon.sh
!bin/install-macos.sh
!bin/install-ubuntu.sh
!bin/install-rhel.sh
!bin/install-centos.sh
!bin/install.sh
!bin/run.sh.dist
!bin/stop.sh
!bin/stop-docker.sh.dist
!bin/run-docker.sh.dist
!bin/configure-macos.sh
!bin/configure-amazon.sh
!bin/configure-docker.sh
!bin/configure-ubuntu.sh
!bin/configure-centos.sh
!bin/configure-rhel.sh
!bin/update-wordpress.sh

# etc
etc/php/php.ini
etc/php/php.docker.ini
etc/php/hidden.ini
etc/php-fpm.conf.default
etc/php-fpm.d/php-fpm.conf
etc/php-fpm.d/php-fpm.docker.conf
etc/php-fpm.d/www.conf.default
etc/nginx/nginx.conf
etc/nginx/nginx.docker.conf
etc/nginx/ssl-params.conf
etc/nginx/ssl-params.docker.conf
etc/nginx/force-ssl.conf
etc/nginx/force-ssl.docker.conf
etc/nginx/upstream/*
etc/nginx/server/*
etc/*.service
etc/*.conf
etc/init.d/*.sh
etc/*.plist
etc/ssl/certs/*
etc/ssl/private/*
etc/ssl/.rnd
etc/ssl/.oid
etc/ssl/openssl.cnf
etc/ssl/openssl.docker.cnf
etc/ssl/CA/*

!etc/com.greathouse.technology.template.plist

# opt
opt/wordpress*/*
opt/php*/*
opt/openresty*/*
opt/MacOSX*/*
opt/pear*/*

# cache and logs
build-event.log
error.log
error.docker.log
varcache/
var/cache/*
var/keys/*
var/logs/*
var/pools/*
var/run/*
var/session/*
var/socket/*
var/upload/*
var/wp-cli/*
!var/cache/.gitkeep
!var/cache/opcache/.gitkeep
!var/cache/wp-cli/.gitkeep
!var/keys/.gitkeep
!var/logs/.gitkeep
!var/pools/.gitkeep
!var/run/.gitkeep
!var/session/.gitkeep
!var/socket/.gitkeep
!var/upload/.gitkeep
var/wp-cli/packages/.gitkeep

# tmp
tmp/
!tmp/.gitkeep

# vendor
vendor/

# src

# node
node_modules/

# supervisord
supervisord.log
supervisord.docker.log
supervisord.pid

# web
web/wp-admin/
web/wp-includes/
web/wp-content/uploads/
!web/wp-content/uploads/.gitkeep
web/wp-content/plugins/backend-code-test-jesse-greathouse
web/index.php
web/license.txt
web/readme.html
web/wp-activate.php
web/wp-blog-header.php
web/wp-comments-post.php
web/wp-config.php
web/wp-config-sample.php
web/wp-cron.php
web/env.php
web/wp-links-opml.php
web/wp-load.php
web/wp-login.php
web/wp-mail.php
web/wp-settings.php
web/wp-signup.php
web/wp-trackback.php
web/xmlrpc.php

# misc