# Created by .ignore support plugin (hsz.mobi)
# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#vscode junk
.history/*
.vscode/*
.vstags

# ds stores
*.DS_Store

# intellij
*.idea/

# certificates and private keys
*.crt
*.key

# build artifacts
get-pip.py

# bin
/bin/*

# etc
etc/php/php.ini
etc/php-fpm.d/php-fpm.conf
etc/php-fpm.d/www.conf.default
etc/nginx/nginx.conf
etc/nginx/ssl-params.conf
etc/nginx/force-ssl.conf
etc/ssl/certs/*
etc/ssl/private/*
etc/ssl/CA/*
etc/supervisor/conf.d/supervisord.conf

# opt
opt/wordpress*/*
opt/wordpress-*.zip
opt/php*/*
opt/openresty*/*

# cache and logs
var/*

# tmp
tmp/*

# vendor
vendor/*

# node
node_modules/

# web
web/*

# misc
.wp-control-cfg.yml
commit.txt
